/* --- style.css --- */


/* general page styling below */ 
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
    font-size: 18px;
}

button {
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 32px;
    max-width: fit-content;
    border: 2px;
    border-style: solid;
}

a /* header links color */ {
    font-size: 16px;
    color: #e5e7eb;
    text-decoration: none;
}

.blue /* blue button, white text */ {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #3882f6;
}

.white /* blue button, white text, white border */ {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
}
/* general page styling ends */


/* header code below */ 
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 275px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    gap: 24px;
}
/* header code ends */


/* hero code below */
.section-one {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 120px 275px;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: fit-content;
}

.hero-paragraph {
    color: #e5e7eb;
    margin: 4px 0 16px 0;
}

.hero-right {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 64px;
    flex: 1;
}
/* hero code ends */


/* section two code below */ 
.section-two {
    margin: 64px 275px;
}

.h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 64px;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    margin-bottom: 128px;
}

.item {
   display: flex;
   flex-direction: column;
   margin: 0; 
   max-width: 180px;
}

.box {
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 24px;
}

.box-text {
    margin-top: 8px;
    text-align: center;
}
/* section two code ends */ 


/* section three code below */ 
.section-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 128px 0px;
}

.quote-container {
    color: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    align-self: center;
    max-width: 750px;
}

.author {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    padding-left: 475px;
}
/* section three code ends */ 


/* section four code below */ 
.section-four {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 128px 0;
}

.blue-container {
    display: flex;
    flex-wrap: wrap;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 48px 128px;
    border-radius: 8px;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    color: #e5e7eb;
}

.h3 {
    margin: 0;
    color: #f9faf8;
}

.sign-up {
    align-self: center;
    padding-left: 150px;
}
/* section four code ends */


/* footer code below */
.footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 40px;
    color: #f9faf8;
}
/* footer code ends */